#####################################
# IDEs
#####################################

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse / STS
.project
.classpath
.settings/
.metadata/
.sts4-cache/
.factorypath
.apt_generated
.recommenders/
.externalToolBuilders/
*.launch

#####################################
# Build & Runtime
#####################################

# Gradle
.gradle/
build/
target/
gradletasknamecache

# Java
*.class

#####################################
# Karate / Test Artifacts
#####################################

# Karate reports
build/karate-reports/
build/cucumber-report/

# Temporary test resources
src/test/resources/feature/

#####################################
# OS / Editor Files
#####################################

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

#####################################
# Logs & Temp
#####################################

*.log
*.tmp
*.swp
*.bak
tmp/
bin/

#####################################
# Code Quality / Analysis Tools
#####################################

# Sonar / Scanner
.scannerwork/
.sonar/

#####################################
# Gradle Wrapper (KEEP)
#####################################

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties